body {
	font-family: Arial;
	padding: 10%;
}

.p {
	font-family: Arial;
}

.h1 {
	font-family: Arial;
	margin: auto;
}

.h2 {
	font-family: Arial;
	text-align: center;
}

.container {
	display:  flex;
	flex-flow: row wrap;
	flex-wrap: wrap;
	align-content: space-evenly;
}

.container > div {
  flex: 1 1 150px;
}

.item {
	padding: 40px;
	border: 10px solid black;
}

.shape {
	fill: red;
	background-repeat: repeat-x;
	padding: 3px;
}

.shape:hover {
	fill: blue;
}

.ol {
	text-align: center;
}