body {
	font-family: Arial;
}

.p {
	font-family: Arial;
}

.h1 {
	font-family: Arial;
	margin-left: 2;
	margin-right: 2;
}

.h2 {
	font-family: Arial;
	text-align: center;
}

.container {
	display:  flex;
	flex-wrap: wrap;
	align-content: space-evenly;
}

.item {
	padding: 3;
}

.shape {
	fill: "red";
	background-repeat: repeat-x;
	padding: 1;
}

.shape:hover {
	fill: "blue";
}

.ol {
	text-align: center;
}