body {
	font-family: Arial;
	padding: 20%;
}

.p {
	font-family: Arial;
}

.h1 {
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
}

.h2 {
	font-family: Arial;
	text-align: center;
}

.container {
	display:  flex;
	flex-wrap: wrap;
	align-content: space-evenly;
}

.item {
	padding: 3px;
}

.shape {
	fill: red;
	background-repeat: repeat-x;
	padding: 3px;
}

.shape:hover {
	fill: blue;
}

.ol {
	text-align: center;
}